/* 战斗对手 */
.魔物 {
  font-weight: bolder;
}
.火元素 {
  color: #FF5E35;
}
.水元素 {
  color: #2D9BFF;
}
.风元素 {
  color: #4EC1A6;
}
.雷元素 {
  color: #B25CD4;
}
.草元素 {
  color: #7BCF6D;
}
.冰元素 {
  color: #9AD3FF;
}
.岩元素 {
  color: #FFD35C;
}

/* 战斗场景 */
.战斗场景 {
  /* flex容器，竖轴做主轴，竖轴方向两端贴紧元素分隔，横轴做交叉轴，横轴方向居中对齐 */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
}
.战斗选择 {
  height: 100px;
}
#对手场地 {
  /* flex成员,横轴方向右对齐，空间固定 */
  margin: 0px 10px 20px 10px;
  align-self: flex-end;
  flex: none;
}
#对手场地 span{
  font-size: 20px;
}
#牌桌场地 {
  /* flex成员，空间灵活 */
  flex: auto;
  /* 自身样式 */
  width: 95%;
  height: 100%;
  background-color: #3A5F3A;
  border: 5px solid #D4AF37;
  border-radius: 20px;
  box-shadow: 3px 3px 10px rgba(20,20,30,0.35);
  /* flex容器，竖轴做主轴，竖轴方向两端贴紧元素分隔，横轴做交叉轴，横轴方向居中对齐 */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* 手牌区相同样式 */
.手牌区 {
  /* flex容器，横轴做主轴，横轴方向左对齐，竖轴做交叉轴，竖轴方向居中对齐，元素间隔10px */
  display: flex;
  gap: 10px;
  align-items: center;
  /* 手牌区样式 */
  margin: 5px;
  padding: 5px;
  width: 380px;
  height: 110px;
  border: 2px dashed white;
  border-radius: 10px;
}
#对手手牌区 {
  /* flex容器，独立设置横轴方向右对齐 */
  justify-content: flex-end;
  /* flex成员，独立设置在牌桌上右对齐；空间固定 */
  align-self: flex-end;
  flex: none;
}
#回合指示区 {
  /* flex成员，空间灵活 */
  flex: auto;
  /* flex容器，横轴做主轴，横轴方向居中对齐；竖轴做交叉轴，竖轴方向居中对齐 */
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 回合指示区内部样式 */
.round-tip {
  color: white;
  font-size: 25px;
  font-weight: bolder;
  opacity: 0;
  transition : opacity 1s;
}
.round-tip.show{
  opacity: 1;
}

#玩家手牌区 {
  /* flex成员，独立设置在牌桌上左对齐；空间固定 */
  align-self: flex-start;
  flex: none;
}
.手牌 {
  /* 自身样式 */
  width: 60px;
  height: 100px;
  background-color: #B87333;
  border: 2px solid #D4AF37;
  border-radius: 5px;
  font-size: 35px;
  font-family: cursive;
  color: #E8F4F8;
  /* flex容器，横轴做主轴，横轴方向居中对齐；竖轴做交叉轴，竖轴方向居中对齐 */
  display: flex;
  justify-content: center;
  align-items: center;
}

#玩家场地 {
  /* flex成员，独立设置在牌桌上左对齐；空间固定 */
  align-self: flex-start;
  flex: none;
  /* 自身样式 */
  margin: 30px 10px;
  text-align: left;
  font-size: 20px;
}
