/* 战斗对手 */
.魔物 {
  font-weight: bolder;
}
.火元素 {
  color: #FF5E35;
}
.水元素 {
  color: #2D9BFF;
}
.风元素 {
  color: #4EC1A6;
}
.雷元素 {
  color: #B25CD4;
}
.草元素 {
  color: #7BCF6D;
}
.冰元素 {
  color: #9AD3FF;
}
.岩元素 {
  color: #FFD35C;
}

/* 战斗场景 */
.战斗场景 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
}
.战斗选择 {
  height: 100px;
}
.对手场地 {
  margin: 0px 10px 20px 10px;
  align-self: flex-end;
  flex: none;
}
#对手 {
  text-align: right;
}
#对手 span{
  font-size: 20px;
}
.牌桌场地 {
  width: 100%;
  flex: auto;
}
#牌桌 {
  width: 100%;
  height: 100%;
  background-color: #3A5F3A;
  border: 5px solid #D4AF37;
  border-radius: 20px;
  box-shadow: 3px 3px 10px rgba(20,20,30,0.35);

  display: flex;/* 牌桌主轴竖轴，两端贴紧，交叉轴横轴，居中对齐 */
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#规则展示区 {
  position: absolute;
  top: 150px;
  left: 160px;
  width: 20%;
  height: 40%;
  color: white;
  font-size: 10px;
}
.手牌区 {
  /* 内部手牌主轴横轴，左对齐；交叉轴竖轴，居中对齐 */
  display: flex;
  gap: 10px;
  align-items: center;
  /* 手牌区样式 */
  margin: 5px;
  padding: 5px;
  width: 380px;
  height: 110px;
  border: 2px dashed white;
  border-radius: 10px;
}
#对手手牌区 {
  align-self: flex-end;
  flex: none;

  justify-content: flex-end;
}
#回合指示区 {
  flex: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-size: 25px;
  font-weight: bolder;
}
#玩家手牌区 {
  /* 本区单独横轴左对齐 */
  align-self: flex-start;
  flex: none;
}
.手牌 {
  width: 60px;
  height: 100px;
  background-color: #B87333;
  border: 2px solid #D4AF37;
  border-radius: 5px;
  font-size: 35px;
  font-family: cursive;
  color: #E8F4F8;

  display: flex;
  justify-content: center;
  align-items: center;
}
.玩家场地 {
  margin: 30px 10px;
  align-self: flex-start;
  flex: none;
}
#玩家 {
  text-align: left;
  font-size: 20px;
}
